<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <% if logged_in? %>
        <h2>Welcome <%= current_user.user_name %> </h2>
        <button>Log out</button>
    <% else %>
        <a href = "<%= new_user_url(current_user) %>">Log in</a>
    <% end %>


    <%= yield %>
  </body>
</html>
